@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TT Travels';
    src: url('/fonts/TT Travels Next Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'TT Travels';
    src: url('/fonts/TT Travels Next ExtraLight.ttf');
    font-weight: 200;

}

@font-face {
    font-family: 'TT Travels';
    src: url('/fonts/TT Travels Next Light.ttf');
    font-weight: 300;

}

@font-face {
    font-family: 'TT Travels';
    src: url('/fonts/TT Travels Next Regular.ttf');
    font-weight: 400;

}

@font-face {
    font-family: 'TT Travels';
    src: url('/fonts/TT Travels Next Medium.ttf');
    font-weight: 500;

}

@font-face {
    font-family: 'TT Travels';
    src: url('/fonts/TT Travels Next DemiaBold.ttf');
    font-weight: 600;

}

@font-face {
    font-family: 'TT Travels';
    src: url('/fonts/TT Travels Next Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'TT Travels';
    src: url('/fonts/TT Travels Next ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'TT Travels';
    src: url('/fonts/TT Travels Next Black.ttf');
    font-weight: 900;
}